/*
Components: anything reusable such as
buttons, navbars, cards etc.
*/

.loader-gif {
  display: none;
  width: 25%;
  margin: auto;

  @include tablet {
    width: 15%;
  }

  @include desktop {
    width: 10%
  }
}

.error-message {
  text-align: center;
  padding-left: 1em;
  padding-top: 2em;
  color: white;
  font-size: 20px;
}


@keyframes move-mobile {
  from {
    transform: translateY(0px) scale(1);
    height: 100vh;

  }
  to {
    transform: translateY(-10px) scale(0.65);
    height: 25vh;
  }
}

.move-mobile {
  animation: move-mobile 1s;
  animation-fill-mode: forwards;
}

@keyframes move-tablet {
  from {
    transform: translateY(0px) scale(1);
    height: 100vh;

  }
  to {
    transform: translateX(-80px) scale(0.5);
    height: 15vh;
  }
}

.move-tablet {
  animation: move-tablet 1s;
  animation-fill-mode: forwards;
  justify-content: space-evenly;
}

// @keyframes move-desktop {
//   from {
//     transform: translateY(0px) scale(1);
//     height: 100vh;

//   }
//   to {
//     transform: translate(-325px, -10px) scale(0.5);
//     height: 10vh;
//   }
// }

// .move-desktop {
//   animation: move-mobile 1s;
//   animation-fill-mode: forwards;
//   justify-content: flex-start;
//   // width: 20vw;
// }
