/*
Components: anything reusable such as
buttons, navbars, cards etc.
*/

.loader-gif {
  display: none;
  margin-right: auto;
  margin-left: auto;
  width: 12.5%;
}

.error-message {
  text-align: center;
  padding-left: 1em;
  padding-top: 2em;
  color: white;
  font-size: 30px;
}
