/*
Layout: contains all the CSS that handles the layout,
such as the container and any grid systems.
*/

body {
  font-family: "OpenSans-Light";
  font-size: 16px;
  color: #ffffff;
  background: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5em;

  .logo {
    width: 30%;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  p {
    padding-bottom: 1.25em;
    font-size: 14px;
    text-shadow: 0.25px 0.25px;
  }

  .select-menu {
    position: relative;
    background: white;
    color: black;
    border-radius: 2.5px;
    border-width: 0px;
    font-size: 14px;
    padding-left: 0.25em;
    padding-right: 0.5em;
  }

  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 12.5em;
    margin-bottom: 1em;

    .logo {
      width: 10%;
      padding-right: 4.5em;
    }

    p {
      padding-bottom: 1em;
    }

    .select-menu {
      padding-right: 0em;
    }
  }

  @include desktop {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 2.5em;

    .logo {
      width: 5%;
      padding-top: 4em;
      padding-right: 6em;
    }

    .section {
      text-align: start;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  // .loading {
  //   display: block;
  //   width: 50%;
  //   margin-right: auto;
  //   margin-left: auto;
  // }

  figure {
    position: relative;
    width: 100%;

    .image {
      width: 100%;
      object-fit: contain;
    }

    .abstract {
      position: absolute;
      color: white;
      z-index: 9999;
      bottom: 0.1em;
      background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
      text-shadow: 0.3px 0.3px white;
    }
  }

  @include tablet {
    grid-template-columns: 5fr 5fr 5fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

footer {
  color: #c2c2c2;
  background: black;
  text-shadow: 0.33px 0.33px #c2c2c2;

  p {
    font-size: 16px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2.5em;
  }

  span {
    text-transform: uppercase;
  }

  @include tablet {
 
  }

  @include desktop {
    p {
      text-align: start;
      margin-left: 2em;
    }
  }
}
