/*
Layout: contains all the CSS that handles the layout,
such as the container and any grid systems.
*/

html,
body {
  background: black;
  font-family: "OpenSans-Light";
  font-size: 16px;
  display: grid;
  grid-template-columns: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;

  .logo {
    width: 250px;
    padding-bottom: 1em;
    padding-top: 2em;
  }

  .options {
    text-align: center;
    p {
      color: #ffffff;
      padding-bottom: 1em;
      text-shadow: 0.25px 0.25px;
    }

    .select-menu {
      background-color: #ffffff;
      border-width: 0px;
      font-size: 16px;
      padding: 5px 12px;
    }
  }

  @include tablet {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85vh;

    .logo {
      width: 220px;
    }

    .options {
      text-align: left;
      padding-left: 50px;
    }
  }

  @include desktop {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .logo {
      padding-left: 25px;
    }

    .options {
      padding-left: 75px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  figure {
    position: relative;
    text-align: left;
    overflow: hidden;

    .image {
      width: 100%;
      object-fit: cover;
      min-height: 100%;
    }

    .abstract {
      display: none;
    }

    &:hover .abstract {
      @include hide-text;
    }
  }

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin: 0 auto;

  p {
    color: #c2c2c2;
    text-shadow: 0.5px 0.5px #c2c2c2;
    padding-bottom: 10%;
    padding-top: 5%;
  }

  span {
    text-transform: uppercase;
  }

  @include tablet {
    bottom: 0em;

    p {
      padding-top: 3%;
      padding-bottom: 4%;
    }
  }

  @include desktop {
    justify-content: flex-start;
    position: relative;
    bottom: 0em;

    p {
      padding-top: 2.5%;
      padding-bottom: 3%;
      padding-left: 30px;
    }
  }
}
