/*
Layout: contains all the CSS that handles the layout,
such as the container and any grid systems.
*/

body, html {
  font-family: "OpenSans-Light";
  font-size: 16px;
  color: #ffffff;
  background: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15em;

  img {
    width: 33%;
    padding-bottom: 1em;
  }

  .section {
    text-align: center;

    p {
      padding-bottom: 1em;
      font-size: 12px;
    }
  }

  .select-menu {
    position: relative;
    background: white;
    color: black;
    padding: 0px 4px;
  }

  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    img {
      width: 9em;
    }
  }

  @include desktop {
    flex-direction: row;
    justify-content: flex-start;

    img {
      width: 9em;
      padding-top: 4em;
    }

    .section {
      text-align: start;
      padding-top: 4em;
    }
  }
}

.stories {
  position: relative;
  .abstract {
    position: absolute;
    color: white;
    z-index: 9999;
    bottom: 0.1em;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    text-shadow: 0.3px 0.3px white;
  }
  .image {
    width: 100%;
  }
}

footer {
  color: #c2c2c2;
  background: black;
  height: 4.5em;
  padding-top: 2em;
  text-shadow: 0.5px 0.5px #c2c2c2;

  p {
    font-size: 14px;
    text-align: center;
  }

  span {
    text-transform: uppercase;
  }

  @include tablet {
    p {
      text-align: start;
    }
  }

  @include desktop {
    
  }
}
